*{margin: 0; padding: 0; }*

/* Formatação do modal */

.modal{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	visibility: hidden;
	z-index: 1;
	opacity: 0;
	transition: visibility 0.8s linear, opacity 0.5s linear;
}

.modal_active #modal_img{
	transform: scale(1);
}

.modal_content{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.modal_active{
	visibility: visible;
	opacity: 1;
}

#modal_img{
	width: 65vw;
	transform: scale(0);
	transition: all linear 0.3s;
}

.row{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card_img{
	margin: 25px;
	width: 300px;
	height: 300px;
	overflow: hidden;
}

.small-img{
	height: 100%;
	cursor: pointer;
	transition: all linear 0.5s;
}

.small-img:hover{
	filter: grayscale(100%);
	transform: scale(1.1);
}

#btn_close{
	position: absolute;
	top: 10px;
	right: 30px;
	color: #fff;
	background-color: #000;
	padding: 5px 10px;
	font-size: 25px;
	border: 1px solid #fff;
	cursor: pointer;
	transition: all ease-out 0.4s; 
} 

#btn_close:hover{
	background-color: #f00;
}