*{margin: 0;padding: 0;box-sizing: border-box;}*

body{
	background-color: #e91e63;
}

.subscribe-section{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	text-align: center;
}

.subscribe-section h2{
	margin-bottom: 20px;
}

.modal-lg{
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);

	display: flex;
	justify-content: center;
	align-items: center;

	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s;
}

.modal-btn{
	border: none;
	background-color: #2980b9;
	cursor: pointer;
	color: #fff;
	padding: 8px 18px;
}

.bg-active{
	visibility: visible;
	opacity: 1;
}

.modal{
	position: relative;
	background-color: white;
	border-radius: 5px;
	width: 80%;
	height: 50%;
	font-family: monserrat, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 25px;
}

.modal h2{
	margin-bottom: 10px;
}

.modal input{
	width: 100%;
	padding: 8px 10px;
	margin-bottom: 12px;
}

label{
	margin-bottom: 5px;
	font-weight: bold;
}

.modal button{
	border: none;
	background-color: #2980b9;
	cursor: pointer;
	color: #fff;
	padding: 8px 18px;
}

.modal-close{
	position: absolute;
	top: 10px;
	right: 15px;
	font-weight: bold;
	cursor: pointer;
}

@media(min-width: 1200px){


.modal{
	width: 40%;
}

}