body{
	font-family: open sans, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.intro{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	color: #fff;
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
	url("https://blog.123carros.com.br/wp-content/uploads/2017/11/ipva-carro-importado.jpg");
	background-size: cover;
}

.typing{
	position: relative;
	margin-left: 10px;
}

.typing::after{
	content: "";
	position: absolute;
	width: 1px;
	right: -5px;
	height: 100%;
	border-right: 2px solid #fff;
	animation: blink 0.5s infinite ease;
}

@keyframes blink{

	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}

}