*{margin: 0; padding: 0; font-family: open sans, sans-serif; box-sizing: border-box;}*

body{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box{
	width: 85%;
	padding: 40px;
	background-color: rgba(0,0,0,0.9);
	box-shadow: 0 0 30px rgba(0,0,0,0.9);
	color: #fff;
	border-radius: 9px;
}

@media (min-width: 1100px){.box{width: 40%;}}

.progress{
	width: 100%;
	background-color: rgb(56,49,49);
	border-radius: 10px;
	margin: 18px 0;
	height: 25px;
}

.progress-bar{
	width: 0%;
	height: 100%;
	background-color: rgb(19,117,124);
	border-radius: 10px;
	position: relative;
	transition: all 1.5s;
}

span{
	position: absolute;
	top: 0;
	right: 0;
}