/* Css Reset */
*{margin: 0;padding: 0;font-family: "poppins", sans-serif;}*

/* Formatação do menu */

.menu-overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f00;

	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: auto;
	transform: scale(0);
	transition: 0.5s;
}

.menu-overlay ul{
	position: relative;
}


.menu-overlay ul li{
	position: relative;
	list-style: none;
	text-align: center;
	display: block;
}


.menu-overlay ul li a{
	position: relative;
	text-decoration: none;
	font-size: 3.5em;
	padding: 0 10px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
}

.menu-overlay ul li a:before{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 8px;
	background-color: #ff0;
	transform: translateY(-50%) scaleX(0);
	transform-origin: right;
	transition: 0.5s transform;
}

.menu-overlay ul li a:hover:before{
	transform: translateY(-50%) scaleX(1);
	transform-origin: left;
	transition: 0.5s transform;
}

/* Formatação do icon */

.toggleIcon{
	position: fixed;
	top: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	background-color: #ff0;
	background-image: url(open.png);
	z-index: 1;
	cursor: pointer;
}


.active{
	transform: scale(1);
}

.toggleIcon.active{
	background-image: url(close.png);
}