/* Css reset */

*{box-sizing: border-box;}*

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	overflow-x: hidden;
}

.home{
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.home .slide{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index: 1;
	padding: 0 15px;
	display:none;
	animation: slide 2s ease;
}

.slide-one{
	background-image: url(images/slide-1.jpg);
}

.slide-two{
	background-image: url(images/slide-2.jpg);
}

.slide-three{
	background-image: url(images/slide-3.jpg);
}

@keyframes slide {

   0%{
   		transform: scale(1.1);
   }

   100%{
   		transform: scale(1);
   }

}

.home .slide.active{
	display: flex;
}

.container{
	max-width: 1170px;
	margin: auto;
}

.home .container{
	flex-grow: 1;
}

.home .caption{
	width: 50%;
}

.home .caption h1{
	font-size: 42px;
	color: #000;
	margin: 0;
	animation: captionText 0.5s ease forwards;
}

.home .slide.active .caption h1{
	opacity: 0;
	animation: captionText 0.5s ease forwards;
	animation-delay: 1s;
}

.home .caption p{
	font-size: 18px;
	margin: 15px 0 30px;
	color: #222;
}

.home .slide.active .caption p{
	opacity: 0;
	animation: captionText 0.5s ease forwards;
	animation-delay: 1.2s;
}

.home .caption a{
	display: inline-block;
	padding: 10px 30px;
	background-color: #000;
	text-decoration: none;
	color: #fff;
}

.home .slide.active .caption a{
	opacity: 0;
	animation: captionText 0.5s ease forwards;
	animation-delay: 1.4s;
}


@keyframes captionText{

	0% {
		opacity: 0;
		transform: translate(-100px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

.home .controls .prev ,
.home .controls .next{
	position: absolute;
	z-index: 2;
	top: 50%;
	height: 40px;
	width: 40px;
	margin-top: -20px;
	color: #fff;
	background-color: #ff5722;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.5s ease;	
}

.home .controls .prev{
	left: 0;
}

.home .controls .next{
	right: 0;
}

.home .controls .prev:hover ,
.home .controls .next:hover{
	background-color: #000;
}

/* Indicadores */

.home .indicators{
	position: absolute;
	left: 50%;
	bottom: 30px;
	z-index: 2;
	transform: translateX(-50%);
}

.home .indicators div{
	display: inline-block;
	width: 25px;
	height: 25px;
	color: #fff;
	background-color: #ff5722;
	border-radius: 25px;
	text-align: center;
	line-height: 25px;
	margin: 0 3px;
}

.home .indicators div.active{
	background-color: #000;
}

@media(max-width: 767px){
	.controls{
		display: none;
	}
}